@import "../common files/mixinFiles";

.all-blog{
    background-color: antiquewhite;

    .blog-heading{
        @include centre-div;
        background-color: blanchedalmond;
        padding: 1.5%;
    
        & h1{
            font-family: 'Courier New', Courier, monospace;
            font-weight: 900;
            text-transform: uppercase;
            color: orangered;
            text-shadow: 2px 2px brown;
            letter-spacing: 4px;
            word-spacing: 6px;
        }
    }

    .pagination-container{
        @include centre-div;
        margin: 0.5% 2%;
        padding: 1%;
        background-color: blanchedalmond;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        label{
            color: darkmagenta;
            font-weight: bold;
            margin-right: 10px;
            font-size: 1.5vw;
        }

        select{
            padding: 0.5vw 1vw;
            font-size: 1.25vw;
            border: 2px solid darkmagenta;
            border-radius: 6px;
            background-color: lavenderblush; 
            color: darkmagenta;
            cursor: pointer;
            transition: 0.2s ease-in-out;
            
            &:hover {
                background-color: lightcyan
            }
            
            &:focus {
                outline: none;
                border-color: purple;
                box-shadow: 0 0 5px rgba(128, 0, 128, 0.3);
            }

            option {
                background-color: white;
                color: darkmagenta;
                font-size: 1.1vw;
            }
        }
    }
}

